{% extends 'base.html' %}
{% load static %}
{% block content %}
	
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 background_body typo_generale">
		<h1>Salle d'attente</h1>
		<input type="hidden" id="game_uuid" value="{{game.uuid}}">
		<input type="hidden" id="pseudo" value="{{request.session.login}}">
        {{ game.id|json_script:"idgame" }}

		{% if game.is_random_form %}
			<h4><i class="far fa-question-circle"></i> Quizz aleatoire <i class="far fa-question-circle"></i></h4>
		{% else %}
			{% if game.author is not None %}
			<h6>Quizz "{{ game.form.name }}" créé par <em>{{ game.form.author.login }}</em></h6>
			{% else %}
			<h6>Quizz {{ game.form.name }}</h6>
			{% endif %}
		{% endif %}

        {% if not game.is_real_time %}
		<p>Vous pouvez inviter des amis en partageant ce lien : <u>https://teampopsquizz.alwaysdata.net/joindre-partie/{{ game.uuid }}/</u></p>
        {% endif %}

		<fieldset class="fdst_border"><legend class="lgd_style">Inviter mes amis</legend>
			<ul> 
				{% for friend in friends %}
                    {% if friend.is_invited %}
                        <li>{{ friend.login }} <i id="{{friend.id}}" login="{{friend.login}}" class="inviteico fas fa-check-square"></i></li>
                    {% else %}
                        <li>{{ friend.login }} <i id="{{friend.id}}" login="{{friend.login}}" class="inviteico fas fa-envelope-square"></i></li>
                    {% endif %}
				{% empty %}
					Aucun ami, n'hésitez pas à en ajouter dans la page ami
				{% endfor %}
			</ul>
		</fieldset>

		<fieldset class="fdst_border"><legend class="lgd_style">Liste des joueurs (<span id="playerslength">{{players|length}}</span>/<span id="slotmax">{{game.slot_max}})</span></legend>
			{% for player in players %}
				<p id="row-user-{{ player.user.id }}">
					{{ player.user.login }} a joué {{ player.parties }} parties
					{% if is_author and not player.is_author %}
						<button value="{{ player.user.id }}" class="exclude_user"><i class="fas fa-user-slash"></i></button>
					{% endif %}
					{% if player.is_author %}<i class="fas fa-crown"></i>{% endif %}
				</p>
			{% empty %}
				<h6>Aucun joueur trouvé</h6>
			{% endfor %}
		</fieldset>

        {% if game.is_real_time %}
            <h2>En temps réel tous les invités doivent avoir répondus pour lancer le jeu</h2>
            <h6>Attendez dans le salon car la partie commencera directement quand le salon sera plein et que tous le monde sera connecté.</h6>
            <fieldset class="fdst_border" id="wait_users"><legend class="lgd_style">Demandes en attente</legend>
			{% for player in waiting_players %}
				<p id="row-user_wait-{{ player.user.login }}">
					{{ player.user.login }}
				</p>
			{% empty %}
				<h6>Aucun joueur en attente</h6>
			{% endfor %}
            </fieldset>

        {% else %}
		<br>
		<form onsubmit="return attention_quitter()" action="{% url 'Quizz:quitter-partie' game.uuid %}">
			<div class="droite">
				<button type="submit" class="btn connectBtn " {% if game.game_status.type is "WAITING" %} disabled {% endif %} >QUITTER</button>
			</div>
		</form>
		<form onsubmit="return attention_commencer()" action="{% url 'Quizz:openform' game.uuid %}">
			<div class="droite">
				{% if is_author %}
					<button type="submit" class="btn connectBtn marges">COMMENCER</button>
				{% else %}
					<button type="submit" class="btn connectBtn marges" {% if game.slot_max > players|length %} disabled {% endif%}>COMMENCER</button>
				{% endif %}
			</div>
		</form>
        {% endif %}
	</div>


    <div id="chatbtn" class="visible">
    <i class="fas fa-comments"></i>
    </div>
    <div id="chatdiv" class="hidden">
        <div id="chat-title-min">
            <h6>Chat</h6>
            <span id="closechat"><i class="far fa-times-circle"></i></span>
        </div>
        <div id="chat-log-min"></div>
        <div class="row" style="margin: 0">
            <input id="chat-message-input-min" type="text" class="input-group" placeholder="Message..."><br>
            <button id="chat-message-submit-min" type="button" class="btn connectBtn"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>

{% endblock %}

{% block js_per_page %}

	<script type="text/javascript" src="{% static "js/attente.js"%}">
	</script>

{% endblock %}
