{% extends 'base.html' %}
{% block content %}
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 background_body">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 embed-responsive embed-responsive-1by1">
				<a href="{% url 'Quizz:creation' %}">
					<div class="embed-responsive-item">Création</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 embed-responsive embed-responsive-1by1">
				<a href="">
					<div class="embed-responsive-item">QUIZZ 1</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 embed-responsive embed-responsive-1by1">
				<a href="">
					<div class="embed-responsive-item">QUIZZ 2</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 embed-responsive embed-responsive-1by1">
				<a href="">
					<div class="embed-responsive-item">QUIZZ 3</div>
				</a>
			</div>
		</div>
	</div>

{% endblock %}