{% extends 'base.html' %}
{% block content %}
	
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 background_body typo_generale">
		{% if not game.is_random_form %}
			<h1>{{ form.name }}</h1>
			<h5>{{ form.description }}</h5>

			{% if form.author is not None %}
				<h6>Créé par {{ form.author.login }}</h6>
			{% else %}
				<h6>Créé par teampopsquizz</h6>
			{% endif %}
		{% else %}
			<h1>Quizz sur un formulaire aléatoire de la catégorie : "{{ cat.label }}"</h1>
		{% endif %}
	  	<fieldset class="fdst_border"><legend class="lgd_style">Nouvelle partie</legend>
  			<form action="{% url 'Quizz:attente' game.uuid %}" method="post">
		      	{% csrf_token %}
		      	<label for="game_name">Nom de la partie : </label>
				<input type="text" class="style_form" value="Partie de {{request.session.login}}" id="game_name" name="game_name">
				<br>
				<label for="slot_max">Nombre de joueur : </label>
				<input type="number" class="style_form" id="slot_max" name="slot_max" value="1" min="1" max="100" onclick="privee()" >
				<div id="pnl_time">
					<label>Temps limité :</label>
					<input type="checkbox" name="chk_limited_time" id="chk_limited_time">
					<br>
					<div id="block_timer" class="hidden">
						<label>Format "minutes : secondes" : </label>
						<input type="time" name="time_limit" value="05:00" id="tm_time_limit">
					</div>
				</div>
				<br>
                <div id="alertcheck" class="hidden" role="alert">
                   Information : Une partie en temps réel ne peut pas être publique.
                </div>

				<div id="public" class="hidden">
		      		<label for="is_public">Partie publique </label>
					<input type="checkbox" id="is_public" unchecked name="is_public">
				</div>
                <div id="realtime" class="hidden">
		      		<label for="is_real_time">Partie en temps réel </label>
					<input type="checkbox" id="is_real_time" unchecked name="is_real_time">
				</div>
				<br>
				<!-- <label id="info" class="nothidden">Attention, il faut plus d'un joueur pour pouvoir rendre la partie publique.</label>
				<br> -->
				<div class="droite">
					<button type="submit"  id="subbtn" class="btn connectBtn">VALIDER</button>
					<button type="reset"  id="resbtn" class="btn connectBtn">ANNULER</button>
				</div>
			</form>
		</fieldset>
	</div>

	<!-- Si la partie ne contient qu'un joueur, elle est forcément privée -->
	<script>
		function privee(){
			var saisie =document.getElementById("slot_max").value;
			var info = document.getElementById("public");
			var info2 = document.getElementById("realtime");
			if (saisie == 1) {
				info.className = 'hidden';
				info2.className = 'hidden';
			} else {
				info.className = 'visible';
				info2.className = 'visible';
			}
		}
	</script>

{% endblock %}

{% block js_per_page %}
    <script>
		$('#chk_limited_time').click(function () {
			if($(this).prop("checked") == true){
				$('#block_timer').removeClass('hidden');
				$('#block_timer').addClass('visible');
			} else {
				$('#block_timer').removeClass('visible');
				$('#block_timer').addClass('hidden');
			}
		});
        //Verifier que publique et temps réel ne soient pas tous les deux check
        $('#is_public').click(function () {
            if($(this).prop("checked") == true && $('#is_real_time').prop("checked") == true){
                $('#is_real_time').prop("checked",false);
                $('#alertcheck').removeClass('hidden');
                $('#alertcheck').addClass('visible');
              }
        });
        $('#is_real_time').click(function () {
            if($(this).prop("checked") == true && $('#is_public').prop("checked") == true){
                $('#is_public').prop("checked",false);
                $('#alertcheck').removeClass('hidden');
                $('#alertcheck').addClass('visible');
              }
        });
	</script>
{% endblock %}
