{% extends 'base.html' %}
{% block content %}
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 background_body typo_generale pad">
		<form method="POST">
			{% csrf_token %}
			<div id="form_header">
				<input type="text" name="form_title" class="style_form typo_generale" value="Titre du Quizz">
				<br>
				<br>
				<textarea name="form_description" class="form-control style_form typo_generale">Description du quizz</textarea>
			</div>
			<br>
			<div id="questions">
				
			</div>
			<br>
			<div class="droite">
				<button type=button class="btn connectBtn" onclick="addNewQuestion()">Ajouter une question</button>
				<input type="hidden" id="hidden_nb_questions" value=0 name="nbQuestions">
				<input type="submit" class="btn connectBtn" value="Sauvegarder">
			</div>		
		</form>
    </div>

	<script>
		class Question {

			constructor(_order, _title, _answerType, _answers) {
				//ATTRIBUTES DEFINITION
				this.order;
				this.title;
				this.answerType;
				this.answers = [];

				this.$pnlQuestion = document.createElement("fieldset");
				this.$pnlHeader = document.createElement("div");
				this.$pnlBody = document.createElement("div");
				this.$pnlFooter = document.createElement("div");

				this.$btnUp = document.createElement("button");
				this.$btnDown = document.createElement("button");
				this.$lblOrder = document.createElement("span");
				this.$txtTitle = document.createElement("input");
				this.$divBtnDelete = document.createElement("div");
				this.$btnDelete = document.createElement("button");
				this.$pnlAnswers = document.createElement("div");
				this.$btnAddNewAnswer = document.createElement("button");
				this.$selectAnswerType = document.createElement("select");

				this.$hiddenOrder = document.createElement("input");
				this.$hiddenNbAnswer = document.createElement("input");

				let self = this;
				///RENDER HTML AND ATTRIBUTES
				this.$pnlQuestion.classList.add("fdst_border");
				this.$pnlBody.classList.add("card-body", "body");
				this.$pnlFooter.classList.add("card-footer", "footer");
				this.$txtTitle.classList.add("style_form", "typo_generale");
				this.$btnDelete.classList.add("btn","connectBtn");
				this.$divBtnDelete.classList.add("droite");
				this.$btnAddNewAnswer.classList.add("btn","connectBtn");
				this.$selectAnswerType.classList.add("style_form", "typo_generale");

				//TXT TITLE
				this.$txtTitle.type = "text";
				this.$txtTitle.onclick = function(e){ this.setSelectionRange(0, this.value.length); }
				//BTN DELETE
				this.$btnDelete.innerText = "Supprimer";
				this.$btnDelete.onclick = function(e) { removeQuestion(self); };

				//ORDER ELEMENT
				this.$btnUp.type = "button";
				this.$btnDown.type = "button";
				this.$btnUp.innerText = "/\\";
				this.$btnDown.innerText = "\\/";
				this.$btnUp.onclick = function(e){ setQuestionOrder(self, self.order-2) }
				this.$btnDown.onclick = function(e){ setQuestionOrder(self, self.order) }
				let orderE = document.createElement("div");
				orderE.style.display = "inline-block";
				orderE.appendChild(this.$btnUp);
				orderE.appendChild(this.$btnDown);

				let titleE = document.createElement("h3");
				titleE.appendChild(this.$lblOrder);
				titleE.appendChild(this.$txtTitle);
				this.$pnlHeader.appendChild(orderE);
				this.$pnlHeader.appendChild(titleE);
				this.$pnlHeader.appendChild(this.$divBtnDelete);
				this.$divBtnDelete.appendChild(this.$btnDelete);

				//ANSWER TYPE
				answerTypes.forEach(element => { 
					let option = document.createElement("option");
					option.value = element;
					option.text = element;
					this.$selectAnswerType.appendChild(option);
				});
				this.$selectAnswerType.onchange = function(){self.setAnswerType(self.$selectAnswerType.value)};

				//ADD NEW ANSWER
				this.$btnAddNewAnswer.type = "button";
				this.$btnAddNewAnswer.innerText = "+";
				this.$btnAddNewAnswer.onclick = function(e){
					let ans = new Answer(self.type, "Nouvelle réponse");
					self.addAnswer(ans);
				}

				this.$hiddenOrder.type = "hidden";

				this.$hiddenNbAnswer.type = "hidden";
				this.$hiddenNbAnswer.value = 0;

				this.$pnlBody.appendChild(this.$pnlAnswers);
				this.$pnlBody.appendChild(this.$btnAddNewAnswer);
				this.$pnlFooter.appendChild(this.$selectAnswerType);
				this.$pnlQuestion.appendChild(this.$pnlHeader);
				this.$pnlQuestion.appendChild(this.$pnlBody);
				this.$pnlQuestion.appendChild(this.$pnlFooter);
				this.$pnlQuestion.appendChild(this.$hiddenOrder);
				this.$pnlQuestion.appendChild(this.$hiddenNbAnswer);

				//SET DATA
				this.setOrder(_order);
				this.setTitle(_title);
				this.setAnswerType(_answerType);
				_answers.forEach(element => {this.addAnswer(element)});
			}
			setOrder(_order) {
				this.order = _order;
				this.$lblOrder.innerText = this.order + ". ";
				this.$hiddenOrder.value = this.order;
				this.updateNames();
			}
			setTitle(_title) {
				this.title = _title;
				this.$txtTitle.value = this.title;
			}
			setAnswerType(_type) {
				this.answerType = _type;
				this.$selectAnswerType.value = this.answerType;
				this.answers.forEach(element => { element.setType(this.answerType); });
			}
			addAnswer(_answer) {
				if(_answer.type != this.answerType) _answer.setType(this.answerType);
				this.answers.push(_answer);
				this.$hiddenNbAnswer.value = this.answers.length;
				_answer.setQuestion(this);
				_answer.setOrder(this.answers.length);
				this.$pnlAnswers.appendChild(_answer.$pnlAnswer);
			}
			removeAnswer(_answer) {
				let index = this.answers.indexOf(_answer);
				this.answers.splice(index, 1);
				this.$hiddenNbAnswer.value = this.answers.length;
				for(var i = index; i < this.answers.length; i++) {
					this.answers[i].setOrder(this.answers[i].order-1)
				}
				this.$pnlAnswers.removeChild(_answer.$pnlAnswer);
			}
			setAnswerOrder(_answer, _order) {
				if(_answer.order == _order+1) return;
				if(_order < 0 || _order >= this.answers.length) return;
				let oldOrder = _answer.order-1;
				//Reorganize array
				this.answers.splice(this.answers.indexOf(_answer), 1);
				this.answers.splice(_order, 0, _answer);
				//Set orders
				if(_order > oldOrder) //Answer Down
					for(var i = oldOrder; i <= _order; i++) this.answers[i].setOrder(i+1);
				else //Question Up
					for(var i = _order; i <= oldOrder; i++) this.answers[i].setOrder(i+1);

				//Reorganize HTML elements
				if(_order < this.answers.length-1)
					this.$pnlAnswers.insertBefore(_answer.$pnlAnswer, this.answers[_order+1].$pnlAnswer);
				else //Last element
					this.$pnlAnswers.appendChild(_answer.$pnlAnswer);
			}
			updateNames() {
				let prefixName = "qst_" + this.order;
				this.$txtTitle.name = prefixName + "_title";
				this.$selectAnswerType.name = prefixName + "_answerType";
				this.answers.forEach(element => { element.updateNames(); });
				this.$hiddenOrder.name = prefixName + "_order";
				this.$hiddenNbAnswer.name = prefixName + "_nbAnswers";
			}
		}

		class Answer {

			constructor(_type, _value) {
				//ATTRIBUTES DEFINITION
				this.type;
				this.value;
				this.correct;
				this.order;
				this.question;

				this.$pnlAnswer = document.createElement("div");
				this.$inputExample = document.createElement("input");	
				this.$txtValue = document.createElement("input");
				this.$chkCorrect = document.createElement("input");
				this.$btnDelete = document.createElement("button", {type: "button"});
				this.$hiddenType = document.createElement("input");
				this.$hiddenOrder = document.createElement("input");

				let self = this;
				//RENDER HTML
				this.$inputExample.disabled = true;
				this.$txtValue.type = "text";
				this.$chkCorrect.type = "checkbox";
				this.$btnDelete.type = "button";
				this.$btnDelete.innerText = "Supprimer";
				this.$btnDelete.onclick = function(e){ self.question.removeAnswer(self); };
				this.$hiddenType.type = "hidden";
				this.$hiddenOrder.type = "hidden";
				this.$pnlAnswer.appendChild(this.$inputExample);
				this.$pnlAnswer.appendChild(this.$txtValue);
				this.$pnlAnswer.appendChild(this.$chkCorrect);
				this.$pnlAnswer.appendChild(this.$btnDelete);
				this.$pnlAnswer.appendChild(this.$hiddenType);
				this.$pnlAnswer.appendChild(this.$hiddenOrder);
				//SET DATAS
				this.setType(_type);
				this.setValue(_value);

				// SET CSS 
				// this.$inputExample.classList.add("style_form");
				this.$txtValue.classList.add("style_form");
				// this.$chkCorrect.classList.add("style_form");
				this.$btnDelete.classList.add("btn", "connectBtn");
			}
			setType(_type) {
				this.type = _type;
				this.$inputExample.type = this.type;
				this.$hiddenType.value = this.type;
				switch(this.type) {
					case("checkbox"):
					case("radio"):
						this.$inputExample.classList.remove("hidden");
						this.$chkCorrect.classList.remove("hidden");
					break;
					case("text"):
						this.$inputExample.classList.add("hidden");
						this.$chkCorrect.classList.add("hidden");
					break;
				}
			}
			setValue(_value) {
				this.value = _value;
				this.$txtValue.value = this.value;
			}
			setCorrect(_correct) {

			}
			setOrder(_order) {
				this.order = _order;
				this.$hiddenOrder.value = this.order;
				this.updateNames();
			}
			setQuestion(_question) {
				this.question = _question;
				this.updateNames();
			}
			updateNames() {
				let namePrefix = "qst_" + this.question.order + "_ans_" + this.order;
				this.$txtValue.name = namePrefix + "_value";
				this.$chkCorrect.name = namePrefix + "_correct";
				this.$hiddenType.name = namePrefix + "_type";
				this.$hiddenOrder.name = namePrefix + "_order";
			}
		}

		function addNewQuestion() {
			let newQuestion = new Question(questions.length+1, "Nouvelle question "+(questions.length+1) , "radio", []);
			let newAnswer = new Answer("checkbox", "Nouvelle réponse");
			newQuestion.addAnswer(newAnswer);
			addQuestion(newQuestion);
		}

		function addQuestion(_question) {
			questions.push(_question);
			$nbQuestions.value = questions.length;
			$questions.appendChild(_question.$pnlQuestion);
		}

		function removeQuestion(_question) {
			let index = questions.indexOf(_question);
			this.questions.splice(index, 1);
			$nbQuestions.value = questions.length;
			for(var i = index; i < questions.length; i++) {
				questions[i].setOrder(questions[i].order-1)
			}
			$questions.removeChild(_question.$pnlQuestion);
		}

		function setQuestionOrder(_question, _order) {
			if(_question.order == _order+1) return;
			if(_order < 0 || _order >= questions.length) return;

			let oldOrder = _question.order-1;

			//Reorganize array
			questions.splice(questions.indexOf(_question), 1);
			questions.splice(_order, 0, _question);

			//Set orders
			if(_order > oldOrder) { //Question Down
				for(var i = oldOrder; i <= _order; i++) questions[i].setOrder(i+1);
			}
			else { //Question Up
				for(var i = _order; i <= oldOrder; i++) questions[i].setOrder(i+1);
			}

			//Reorganize HTML elements
			if(_order < questions.length-1) {
				$questions.insertBefore(_question.$pnlQuestion, questions[_order+1].$pnlQuestion);
			}
			else { //Last element
				$questions.appendChild(_question.$pnlQuestion);
			}
		}

		questions = [];
		$questions = document.getElementById("questions");
		$nbQuestions = document.getElementById("hidden_nb_questions");
		answerTypes = ["radio", "checkbox", "text"];
	</script>


{% endblock %}