{% extends 'base.html' %}


{% block content %}

	{% load static %}
	<style type="text/css">
		img{
			margin-left: auto;
			margin-right: auto;
		}
		.card {
	        margin: auto; /* Added */
	        float: none; /* Added */
	        margin-bottom: 10px; /* Added */
		}

		ol{
			text-align: center;
			font-size: 25px;
			font-weight: bold;
		}
	
		.menuli{
		    font-weight: bold;
		    text-align: left;
		    font-size: 20px;
		    margin: 15px;
		}
		.menuli:hover{
			cursor: pointer;
			color: #60dab6;
		}
	</style>

	<div class="card border-info mb-3" style="max-width: 70rem;">
	  <div class="card-header"><h1>Bienvenue sur Pops Quizz</h1></div>
	  <div class="card-body" style="text-align: center;">

	  	<form action="{% url 'Quizz:createUser' %}" method="POST" id="createUser">

	  		<input type="hidden" name="formCreateUser" id="formCreateUser">
	  		{% csrf_token %}
	  		<p class="card-text">
				{{form}}
	  		<input type="submit" name="formUser" id="formUser" onclick="createUser">
		    </p>
	  	</form>
	  	

	  </div>
	  <div class="card-footer">
  		
	  </div>
	</div>

	<script type="text/javascript" src="{% static "js/jquery-3.4.1.min.js" %}"></script>


	

{% endblock %}