{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 background_body typo_generale">
        <h1>Gestion des droits</h1>
        <h5>Formulaire {{ form.name }}</h5>
        <br>
        <form action="{% url 'Quizz:edit_right' form.id %}" method="post">
            {% csrf_token %}

            <label>Rendre le formulaire public :</label>
            <input type="checkbox" name="is_public" id="is_public" {% if form.is_public %}checked{% endif %}>
            <div class="row">
            	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            		Nom utilisateur
            	</div>
            	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            		Droit
            	</div>
            </div>
            {% for u in friends %}
            	<hr>
	            <div class="row">
	            	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	            		{{u.login}}
	            	</div>
	            	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	            		<select class="custom-select" name="role_{{u.id}}">
                            <option value="EDITOR" {% if u.role_editor %} selected {% endif %}>Editeur</option>
                            <option value="PUBLISHER" {% if u.role_publisher %} selected {% endif %}>Joueur</option>
                            <option value="NONE" {% if u.role_none %} selected{% endif %}>Aucun droit</option>
                        </select>
	            	</div>
	            </div>
            {% endfor %}
            <br>
            <div class="droite">
                <button type="submit"  id="subbtn" class="btn connectBtn">ENREGISTRER</button>
                <button type="reset"  id="resbtn" class="btn connectBtn">ANNULER</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block js_per_page %}
<script type="text/javascript" src="{% static "js/edit_right.js"%}"></script>
{% endblock %}
