{% extends 'base.html' %}



{% block content %}

<style type="text/css">
	.card{
		border: transparent;
    	background: transparent;
	}
	.row{
		padding-top: 10px;
	}
	#question{
		padding-top: 10px;
	}
	.col{
		min-width: 300px;
	}
	#subbtn{
		margin-top: 20px
	}
	.col {
	    min-width: 300px;
	    padding: 10px;
	    background: #dec1de;
	    border: 2px solid purple;
	    border-radius: 5px;
	    margin: 2px;
	}
</style>

<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 background_body">	

	<div class="card border-info mb-3">
	  <div class="card-header"><h1>{{ form.name }}</h1>
	  	<p class="card-text">{{ form.description }}</p>
	  	{% if form.autheur is not None %}
	  	<p class="card-text">Créé par {{ form.author }}</p>
	  	{% else %}
	  	<p class="card-text">Créé par teampopsquizz</p>
	  	{% endif %}
	  </div>
	  <div class="card-body">

	  		<form>

				{% for q in form.questions %}
					
					  <h3 id="question">{{ q.question.label }}</h1>
					  <div class="row">

					  	{% if q.question.answerType.type == "INPUT" %}

						  	{% for a in q.answers %}
						  	<div class="col">
						  		
  								<input type="text" class="form-control" id="answer{{ a.id }}" name="answer{{ a.id }}" placeholder="">
								
						  	</div>
						  	{% empty %}
								Pas de réponse
							{% endfor %}

					  	{% elif q.question.answer_type.type == "QCM" %}

					  		{% for a in q.answers %}
						  	<div class="col">

						  		<div class="form-check">
						  		
							  		<input class="form-check-input" type="checkbox" id="answer{{ a.id }}" name="answer{{ a.id }}">
							        <label class="form-check-label" for="answer{{ a.id }}">
							          {{ a.value }}
							        </label>

						    	</div>
								
						  	</div>
						  	{% empty %}
								Pas de réponse
							{% endfor %}


					  	{% elif q.question.answer_type.type == "UNIQUE_ANSWER" %}

					  		{% for a in q.answers %}
						  	<div class="col">

						  		<div class="form-check">
						  		
									<input class="form-check-input" type="radio" name="qradio{{ q.question.id }}" id="answer{{ a.id }}" value="{{ a.id }}" checked>
					          		<label class="form-check-label" for="answer{{ a.id }}">
						            {{ a.value }}
					          		</label>

					          	</div>
								
						  	</div>
						  	{% empty %}
								Pas de réponse
							{% endfor %}


					  	{% else %}

					  	Type non pris en charge
					  	
					  	{% endif %}

					  </div>
					
					
				{% empty %}
					Pas de questions
				{% endfor %}


				<button type="submit"  id="subbtn" class="btn btn-success">VALIDER</button>
				<button type="reset"  id="subbtn" class="btn btn-danger">ANNULER</button>

			</form>

	  </div>
	</div>	
	
</div>
{% endblock %}