<!DOCTYPE HTML>
<HTML lang="fr">

	<HEAD>
	    <meta charset="utf-8"><HTML>
		<!---<link rel="icon" href="images/Logo_Lou_Pan.jpg"/>-->
		<title>POPS Quizz</title>
	    <link href="bootstrap-4.5.0-dist/css/bootstrap.min.css" rel="stylesheet" />
	    <link href="style/styles.css" rel="stylesheet" />
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
	</HEAD>

	<!-- Page d'accueil -->
	<BODY>
		<!-- Bloc principale englobant toute la page -->
	    <div class="container-fluid">

	    	<!-- HEADER Présent sur toute les pages-->
	    	<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 "><H1>Logo</H1></div>
				<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12"><H1>Titre HEAD</H1></div>
	    	</div>

	    	<!-- BODY -->
	    	<div class="row">
	    		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
	    			<h1>vide gauche</h1>
	    		</div>
	    		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
	    			<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 embed-responsive embed-responsive-1by1">
							<a href="">
								<div class="embed-responsive-item">Création</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 embed-responsive embed-responsive-1by1">
							<a href="">
								<div class="embed-responsive-item">QUIZZ 1</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 embed-responsive embed-responsive-1by1">
							<a href="">
								<div class="embed-responsive-item">QUIZZ 2</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 embed-responsive embed-responsive-1by1">
							<a href="">
								<div class="embed-responsive-item">QUIZZ 3</div>
							</a>
						</div>
	    			</div>
	    		</div>
	    		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
	    			<h1>vide droit</h1>
	    		</div>
	    	</div>

	    	<!-- FOOTER Présent sur toute les pages-->
	    	<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><H1>FOOT</H1></div>
	    	</div>
	    </div>
	</BODY>
</HTML>