
{% extends 'base.html' %}
{% load static %}
{% load personnal_tags %}
{% block content %}
    <style>
    .editbtn{
        font-size: xx-small;
        padding: 1px;
        position: absolute;
        top: 0px;
        z-index: 1;
    }
    #btnRuleForm{
        right: 32px;
    }
    #btnEditForm{
        right: 15px;
    }
    #btnDelForm{
        right: 0;
    }
    </style>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 background_body">
		<div class="row marg">
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 marg">
				<div class="embed-responsive embed-responsive-1by1">
					<a href="{% url 'Quizz:creation' %}" class="liens_bt_form">
						<div class="embed-responsive-item boite_form" style="display: flex">
							<H5 style="position: absolute;
    top: 45%;
    text-align: center;
    width: 100%;
    left: -1px;
    color: rgb(223,213,250);">Nouveau</H5>
							<img src="{% static "img/plus-math.png" %}" class="img_form">
						</div>
					</a>
				</div>
			</div>

			{% for f in allforms %}

			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 marg">
				<div class="embed-responsive embed-responsive-1by1">

					{% if f.is_author %}
                    <button type="button" id="btnRuleForm" class="btn btn-outline-dark editbtn" data-toggle="tooltip" data-placement="left" title="Changement des droits"><i class="fas fa-user-tag"></i></button>
                    {% endif %}
					{% if f.is_allowed_to_edit %}
                    <button type="button" id="btnEditForm" onclick="window.location.href = '{% url 'Quizz:edit_quizz' f.id %}'" class="btn btn-outline-dark editbtn" data-toggle="tooltip" data-placement="left" title="Modification du Quizz"><i class="fas fa-edit"></i></button>
					{% endif %}
					{% if f.is_author %}
					<button type="button" id="btnDelForm" class="btn btn-outline-dark editbtn" data-toggle="tooltip" data-placement="left" title="Suppression du Quizz"><i class="fas fa-trash-alt"></i></button>
					{% endif %}

                    <a href="{% url 'Quizz:create-game' f.id %}" class="liens_bt_form">
						<div class="embed-responsive-item boite_form">
						  		<H5>{{f.name}}</H5>
								<H6>{{f.description | cut_to_long_text:70}}</H6>

								{% if f.author is not None %}
							  		<p class="card-text">Créé par {{ f.author.login }}</p>
							  	{% else %}
							  		<p class="card-text">Créé par teampopsquizz</p>
							  	{% endif %}
					  	</div>

					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
