{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 background_body typo_generale">

		{% if game.game_status.type == "DONE" %}
			<h1>La partie "{{ game.name }}" est terminée !</h1>
			<h5>Quizz {{ game.form.name }}</h5>
			{% if game.form.author is not None %}
			  	<h6>Créé par {{ game.form.author.login }}</h6>
			{% else %}
			  	<h6>Créé par teampopsquizz</h6>
			{% endif %}

		  	<fieldset class="fdst_border"><legend class="lgd_style">Résultats</legend>
				<!-- <div class="row"> -->
					{% with players|first as winner %}
						<h6>{{ winner.user.login }} a le plus haut score !</h6>
					{% endwith %}
				<!-- </div> -->

				{% for player in players %}
					<!-- <div class="row"> -->
						<p>{{ forloop.counter }}# {{ player.user.login }} a eu un score de {{ player.score }}</p>
					<!-- </div> -->
				{% empty %}
					<!-- <div class="row"> -->
						<h6>Aucun joueur trouvé</h6>
					<!-- </div> -->
				{% endfor %}
			</fieldset>
		{% elif game.game_status.type == "IN_PROGRESS" %}
			<h1>La partie {{ game.name }} est encore en cours</h1>
		
		{% elif game.game_status.type == "CANCELLED" %}
			<h1>La partie {{ game.name }} a été supprimée.</h1>
		{% elif game.game_status.type == "WAITING" %}
			<h1>La partie {{ game.name }} est encore en création.</h1>
		{% endif %}

		<br>
		<div class="droite">
			<form action="{% url 'Quizz:home' %}">
				<button id="menubtn" class="btn connectBtn">RETOUR AU MENU</button>
			</form>
		</div>
	</div>
	{% endblock %}

	{% block js_per_page %}
	<script>

	</script>
	{% endblock %}
