{% load static %}
<!DOCTYPE html>
<html>
	<head>
	    <title>{% block title %}POPS Quizz{% endblock %}</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    <link rel="icon" type="image/png" href="{% block icon %}{% static "img/quiz-ico.png" %}{% endblock %}" />
	    <link rel="shortcut icon" type="image/png" href="{% block icon2 %}{% static "img/quiz-ico.png" %}{% endblock %}" />
	    {% block bts_css %}
	    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
	    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
	    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-grid.css" %}">
	    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-grid.min.css" %}">
	    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-reboot.css" %}">
	    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-reboot.min.css" %}">
	    <link rel="stylesheet" type="text/css" href="{% static "css/fontAwesome5.css" %}">
	    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css"%}">
	    {% endblock %}
	</head>
	<body >
		<!-- Modal -->
		<div class="modal fade" id="connectuserModal" tabindex="-1" role="dialog" aria-labelledby="connectuserModal" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="connectuserModalTitle"><span id="btnFieldConnect" class="activefield fieldconnect" onclick="displayConnect()">Connexion</span> / <span onclick="displayAuth()" id="btnFieldAuth" class="fieldconnect">Inscription</span></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body" id="modalbodyco">

		      	{% csrf_token %}
		        
		      	<div id="connectdiv">
		      		<div class="form-group">
					    <label for="login" class="textcolor">Pseudo</label>
					    <input type="text" class="form-control" id="login" placeholder="pseudo">
				  	</div>
				  	<div class="form-group">
					    <label for="password" class="textcolor">Mot de passe</label>
					    <input type="password" class="form-control" id="password" placeholder="mot de passe">
				  	</div>
		      	</div>

		      	<div id="authdiv" style="display: none;">
				  	<div class="form-group">
					    <label for="emailco" class="textcolor">Email</label>
					    <input type="email" class="form-control" id="emailco" aria-describedby="emailHelp" placeholder="nom.prenom@servermail.gtld">
					    <small id="emailHelp" class="form-text text-muted textcolor">Nous ne partageons pas vos données.</small>
				  	</div>
				  	<div class="form-group">
					    <label for="loginco" class="textcolor">Pseudo</label>
					    <input type="text" class="form-control" id="loginco" placeholder="pseudo">
				  	</div>
				  	<div class="form-group">
					    <label for="passwordco" class="textcolor">Mot de passe</label>
					    <input type="password" class="form-control" id="passwordco" placeholder="mot de passe">
				  	</div>
				  	<div class="form-group">
					    <label for="passwordco2" class="textcolor">Confirmation du mot de passe</label>
					    <input type="password" class="form-control" id="passwordco2" placeholder="mot de passe">
				  	</div>
		      	</div>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
		        <button type="button" class="btn btn-primary validBtn" onclick="submitCo()">Valider</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Bloc principale englobant toute la page -->
	    <div class="container-fluid background">

	    	<!-- HEADER Présent sur toute les pages-->
	    	<div class="row head_style">
				<div class="col-md-1"><img src="{% static "img/logo.png" %}" width="70rem" height="75rem" /></div>
				<div class="col colmenu"><H1 class="textcolor">POPS Quizz</H1></div>
				{% if request.session.login is None %}
				<div class="col-md-2 colmenu"><button type="button" class="btn btn-outline-info connectBtn" id="connectBtn"><i class="fas fa-user-lock"></i>&nbsp;<b>Connexion</b></button></div>
				{% else %}
				<div class="col-md-2 colmenu"><button type="button" class="btn btn-outline-info connectBtn" id="userBtn"
					data-html="true" 
   					data-toggle="popover" 
   					data-trigger="manual" 
   					data-placement="bottom"
   					data-content="<div class='userbtnitem' id='disconnect'><i class='fas fa-sign-out-alt'></i>&nbsp;Déconnexion</div><div class='userbtnitem'><i class='fas fa-tachometer-alt'></i>&nbsp;Tableau de bord</div>"><i class="fas fa-user"></i>&nbsp;<b>{{request.session.login}}</b></button></div>
				{% endif %}
	    	</div>

	    	<!-- BODY -->
	    	<div class="row body_size">
	    		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
	    			<!-- Doit rester vide -->
	    		</div>

                {% if request.session.login is None %}

                    <div class="alert alert-warning" role="alert" style="width: 100%">
                      Vous n'êtes pas connecté
                    </div>

                {% else %}
                    {% block content %}

				    {% endblock %}
                {% endif %}


				{% block bts_js %}
				<script type="text/javascript" src="{% static "js/jquery-3.4.1.min.js" %}"></script>
				
				<script type="text/javascript" src="{% static "js/popper.min.js"%}"></script>
				<script type="text/javascript" src="{% static "js/jquery-ui.js"%}"></script>
				<script type="text/javascript" src="{% static "js/bootstrap.bundle.js"%}"></script>
				<script type="text/javascript" src="{% static "js/bootstrap.bundle.min.js"%}"></script>
				<script type="text/javascript" src="{% static "js/bootstrap.js"%}"></script>
				<script type="text/javascript" src="{% static "js/bootstrap.min.js"%}"></script>
				{% endblock %}
				{% block js_per_page %}
				<script type="text/javascript" src="{% static "js/connectuser.js"%}"></script>
				{% endblock %}
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
	    			<!-- Doit rester vide -->
	    		</div>
	    	</div>

	    	<!-- FOOTER Présent sur toute les pages-->
	    	<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 foot">Copyright © 2020 POPS Quizz. All rights reserved.</div>
	    	</div>
		</div>
	</body>
</html>