{% extends 'dashboard/base.html' %}

{% block dashboard_content %}
    <h1>Statistiques</h1>
    <fieldset class="fdst_border"><legend class="lgd_style">Statistiques personnelles</legend>
        <ul>
            <li>Vous avez joué {{parties}} parties</li>
            <li>Vous avez créé {{creator_forms|length}} formulaires</li>
        </ul>
    </fieldset>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <h2>Nombre de parties jouées par catégorie</h2>

    <script type="text/javascript">

        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart_cats);
        function drawChart_cats() {
            var data = google.visualization.arrayToDataTable([
                ['Réponses', 'Nombres'],
                {% for cat in cats %}
                    ['{{cat.label}}', {{cat.parties}}],
                {% endfor %}
        ]);
            var options = {
                pieSliceText: 'label',
            };
            var chart = new google.visualization.PieChart(document.getElementById('statsbycats'));;
            chart.draw(data, options);
        }
    </script>
    <div id="statsbycats"></div>

    {% if user.good_answer == 0 and user.bad_answer == 0 %}
    {% else %}
    <h2>Répartition des réponses</h2>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart_answer);
      function drawChart_answer() {
        var data = google.visualization.arrayToDataTable([
          ['Réponses', 'Nombres'],
          ['Bonnes réponses', {{user.good_answer}}],
          ['Mauvaises réponses', {{user.bad_answer}}],
        ]);
        var options = {
          pieSliceText: 'label',
          colors: ['#339933', '#cc0000']
        };
        var chart = new google.visualization.PieChart(document.getElementById('answer_stats'));
        chart.draw(data, options);
      }

      </script>
        <div id="answer_stats"></div>
    {% endif %}


{% endblock %}
