{% extends 'dashboard/base.html' %}
{% load static %}
{% block dashboard_content %}
    <h1>Invitation à rejoindre des parties</h1>
    {% for game in invited_games %}
        <p id="row-invited-game-{{game.id}}">
            {{ game.name }} créée par {{ game.author.login }}
            <button onclick="window.location.href = '{% url 'Quizz:joindre-partie' game.uuid %}'"><i class="fas fa-door-open"></i></button>
            <button value="{{ game.id }}" class="refuse_invite"><i class="fas fa-door-closed"></i></button>
        </p>
    {% empty %}
        Aucune invitation de partie
    {% endfor %}
    <br>
    <h1>Parties en cours</h1>
    {% for game in in_progress_game %}
        <fieldset class="fdst_border"><legend class="lgd_style">{{ game.name }}</legend>
            Créée par {{ game.author.login }}.
            <br>
            {{game.player_playing}} ont répondu sur {{game.player_max}} invitées.
            {% if game.not_answered %}
                <br>
                Vous n'avez pas encore répondu à ce quizz :
                <button onclick="window.location.href = '{% url 'Quizz:openform' game.uuid %}'" class="btn connectBtn">REPONDRE AU QUIZZ</button>
            {% endif %}
        </fieldset>
    {% empty %}
        Aucune en cours
    {% endfor %}
    <br>

    <h1>Parties en attente</h1>
    {% for game in waiting_games %}
    <p>
        {{ game.name }} créé par {{ game.author.login }}
        <button onclick="window.location.href = '{% url 'Quizz:joindre-partie' game.uuid %}'"><i class="fas fa-door-open"></i></button>
    </p>
    {% empty %}
    Aucune en cours
    {% endfor %}
    <br>

{% endblock %}

{% block js_per_dashboard_page %}

<script type="text/javascript" src="{% static "js/dashboard-game-progress.js"%}">
</script>

{% endblock %}
