{% extends 'dashboard/base.html' %}

{% block dashboard_content %}
    <h1>Historique des parties</h1>

    <br>
    <div class="maintimeline">
        {% for p in players %}
            <div class="timeline_item">
                <span class="game_date">{{ p.game.created_at | date:"d/m/Y H:i" }}</span>
                Quizz : {{ p.game.form.name }}
                <br>Partie : {{ p.game.name }}
                <br>Score : {{ p.score }}
                <br><button class="connectBtn" onclick="window.location.pathname='{% url 'Quizz:correction' p.id %}'">CORRECTION</button>
            </div>
        {% empty %}
            <p>Vous n'avez pas encore de score.</p>
        {% endfor %}

    </div>


{% endblock %}
