html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

.typo_generale {
	color: rgb(72,59,107);
}

/*div {
    border: 2px solid grey;
	border-radius: 5px;
	padding:2px;
}/**/

.head_style {
	background-color: rgb(223,213,250);
	/*height: 100%;
    min-height: 100%;*/
	box-shadow: 0px 1px 12px #554780;
	margin-bottom: 15pt;
	padding: 15pt;
}

.background {
	background-color: rgb(177,155,217);
	height: 100%;
	position: absolute;
	overflow: auto;
}

.background_body {
	background-color: rgb(223,213,250);
	/*height: 100%;
    min-height: 100%;*/
	box-shadow: 1px 1px 12px #554780;

}

.body_size {
	height: 100%;
    min-height: 100%;
}
/*
.foot {
	padding: 15pt 0pt 15pt 0pt;
	text-align: center;
}*/

.textcolor{
	color: rgb(177,155,217) !important;
	font-weight: bold;
}

/******Colonnes verticalement centrées****/
.colmenu{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/******Pour la connexion****/
.connectBtn{
	background-color: rgba(72,59,107, 0.9);
	color: rgb(223,213,250);
	border-color: rgba(72,59,107, 0.9);
}
.connectBtn:hover {
	background-color: rgb(223,213,250);
	color: rgb(72,59,107);
	border-color: rgb(72,59,107);
}

.btnForm {
	display: block;
	margin: 0 auto;
	width: 4em;
}

.activefield{
	text-decoration: underline;
	font-weight: bold;
}

.fieldconnect{
	cursor: pointer;
	color: rgb(177,155,217);
}

.validBtn{
	background-color: rgb(177,155,217);
	border-color: rgb(177,155,217);
}

.validBtn:hover{
	background-color: rgb(157, 128, 210);
	border-color: rgb(157, 128, 210);
}

.userbtnitem{
	border-top: 1px solid rgb(177,155,217);;
	border-bottom: 1px solid rgb(177,155,217);;
	color: rgb(177,155,217);
	cursor: pointer;
}

/**********Accueil*********/
.boite_form {
	background-color: rgb(223,213,250);
	border: 1px solid rgba(72,59,107, 0.9)  !important;
	border-radius: 5px;
	padding:10px;
}

.boite_form:hover {
	background-color: rgba(72,59,107, 0.9);
	border: 1px solid rgba(72,59,107, 0.9)  !important;
	/*color: rgb(223,213,250) !important;*/
	border-radius: 5px;
	padding:10px;
}

.liens_bt_form {
	color: rgb(72,59,107) !important;
	text-decoration: none;
}

.liens_bt_form:hover {
	color: rgb(223,213,250) !important;
	text-decoration: none;
}

.marg {
	padding: 5px 5px 5px 5px;
}

.img_form {
	margin: auto;
	width: 9em;
	display: block;
	padding: 0.6em;
}

.fdst_border {
	border: 1px solid rgb(72,59,107);
	padding: 10px;
	border-radius: 10px;
}

.lgd_style {
	width: auto;
	padding: 0px 4px;
}

#game_name {
	margin-left: 11px;
}

.droite {
	float: right;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.style_form {
	border-radius: .25rem;
	border: 1px solid rgb(177,155,217);
	height: 35px;
	padding: 5px
}

.bonne_reponse {
	background-color: lightgreen !important;
	color:darkgreen !important;
}

.mauvaise_reponse {
	background-color: red !important;
	color:darkred !important;
}

.pad {
	padding-top: 15px
}

.marges {
	margin-right: 4px;
}