html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

.typo_generale {
	color: rgb(72,59,107);
}

/*div {
    border: 2px solid grey;
	border-radius: 5px;
	padding:2px;
}/**/

.head_style {
	background-color: rgb(223,213,250);
	/*height: 100%;
    min-height: 100%;*/
	box-shadow: 0px 1px 12px #554780;
	margin-bottom: 15pt;
	padding: 15pt;
}

.background {
	background-color: rgb(177,155,217);
	height: 100%;
	position: absolute;
	overflow: auto;
}

.background_body {
	background-color: rgb(223,213,250);
	/*height: 100%;
    min-height: 100%;*/
	box-shadow: 1px 1px 12px #554780;

}

.body_size {
	height: 100%;
    min-height: 100%;
}
/*
.foot {
	padding: 15pt 0pt 15pt 0pt;
	text-align: center;
}*/

.textcolor{
	color: rgb(177,155,217) !important;
	font-weight: bold;
}

/******Colonnes verticalement centrées****/
.colmenu{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/******Pour la connexion****/
.connectBtn{
	background-color: rgba(72,59,107, 0.9);
	color: rgb(223,213,250);
	border-color: rgba(72,59,107, 0.9);
}
.connectBtn:hover {
	background-color: rgb(223,213,250);
	color: rgb(72,59,107);
	border-color: rgb(72,59,107);
}

.btnForm {
	display: block;
	margin: 0 auto;
	width: 4em;
}

.activefield{
	text-decoration: underline;
	font-weight: bold;
}

.fieldconnect{
	cursor: pointer;
	color: rgb(177,155,217);
}

.validBtn{
	background-color: rgb(177,155,217);
	border-color: rgb(177,155,217);
}

.validBtn:hover{
	background-color: rgb(157, 128, 210);
	border-color: rgb(157, 128, 210);
}

.userbtnitem{
	border-top: 1px solid rgb(177,155,217);;
	border-bottom: 1px solid rgb(177,155,217);;
	color: rgb(177,155,217);
	cursor: pointer;
}

/**********Accueil*********/
.boite_form {
	background-color: rgb(223,213,250);
	border: 1px solid rgba(72,59,107, 0.9)  !important;
	border-radius: 5px;
	padding:10px;
}

.boite_form:hover {
	background-color: rgba(72,59,107, 0.9);
	border: 1px solid rgba(72,59,107, 0.9)  !important;
	/*color: rgb(223,213,250) !important;*/
	border-radius: 5px;
	padding:10px;
}

.liens_bt_form {
	color: rgb(72,59,107) !important;
	text-decoration: none;
}

.liens_bt_form:hover {
	color: rgb(223,213,250) !important;
	text-decoration: none;
}

.marg {
	padding: 5px 5px 5px 5px;
}

.img_form {
	margin: auto;
	width: 9em;
	display: block;
	padding: 0.6em;
}

.fdst_border {
	border: 1px solid rgb(72,59,107);
	padding: 10px;
	border-radius: 10px;
}

.lgd_style {
	width: auto;
	padding: 0px 4px;
}

#game_name {
	margin-left: 11px;
}

.droite {
	float: right;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.style_form {
	border-radius: .25rem;
	border: 1px solid rgb(177,155,217);
	height: 35px;
	padding: 5px
}

.bonne_reponse {
	background-color: lightgreen !important;
	color:darkgreen !important;
}

.mauvaise_reponse {
	background-color: red !important;
	color:darkred !important;
}

.pad {
	padding-top: 15px
}

.marges {
	margin-right: 4px;
}

/****Création****/
#pnl_category
{
	display: flex;
	flex-wrap: wrap;
}
.category_item
{
	background-color: rgb(255, 255, 255);
	border: solid rgb(177,155,217) 1px;
	border-radius: 25vh;
	padding: 0px 10px 0px 10px;
	align-items: stretch;
}
.category_delete_button
{
	background-color: transparent;
	border-radius: 2vh;
	border: 0px;
}

/*******CHATS******/
#chatbtn{
	font-size: 30px;
	background: white;
	position: fixed;
	bottom: 4px;
	right: 20px;
	border-radius: 50px;
	padding-top: 5px;
	padding-right: 12px;
	padding-bottom: 5px;
	padding-left: 12px;
	cursor: pointer;
	z-index: 2;
}
#chatdiv{
	position: fixed;
	bottom: 4px;
	right: 20px;
	border: 2px solid rgba(72,59,107, 0.9);
	border-radius: 5px;
	z-index: 2;
}
#chat-log{
	width: 100%;
	height: 300px;
	background: white;
	border-radius: 5px;
	overflow: scroll;
}
#chat-log-min{
	width: 200px;
	height: 200px;
	background: rgb(223,213,250);
	border-radius: 5px;
	overflow: scroll;
}
#chat-message-input{
	border-radius: 5px;
}
#chat-message-input-min{
	width: 170px;
}
#chat-message-submit-min{
	font-size: 13px;
    padding: 8px;
}
#chat-title-min{
	background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 2px solid;
}
#closechat{
	cursor: pointer;
}
#closechat:hover{
	color: red;
}
.connect_on{
	font-size: 10px;
	font-style: italic;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.chat_message_title{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 5px;
	border-top: 2px solid rgb(223,213,250);
	border-right: 2px solid rgb(223,213,250);
	border-left: 2px solid rgb(223,213,250);
}
.chat_message{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 5px;
	border-bottom: 2px solid rgb(223,213,250);
	border-right: 2px solid rgb(223,213,250);
	border-left: 2px solid rgb(223,213,250);
}

.chat_message_title-min{
	font-size: 12px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 5px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
}
.chat_message-min{
	font-size: 12px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 5px;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
}